body{
    margin: 0;
}
.cuadrado{
    background-color: #efefef;
    width: 21vw;
    height: 20vw;
    border-radius: 22px;
    margin: 10vw auto;
    padding: 2vw;
    box-shadow: 0 30px 20px #ccc, 0 30px 30px rgba(0, 0, 0, 0.25),
      0 28px 0 rgba(0, 0, 0, 0.5), 0 50px 60px rgba(0, 0, 0, 0.1);
}
.circulo{
    background: linear-gradient(
        #1faff9,#237dea);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circulo span {
    position: absolute;
    width: 2px;
    height: 24px;
    transform: translateY(-137.55px) rotate(calc(10deg * var(--i)));
    transform-origin: 2px 180px;
    margin-top: -3vw;
    background: #fff;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.15));
  }
  .circulo span::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    background: #fff;
    transform-origin: 0 150px;
    transform: rotate(5deg);
  }
.flechas{
    width: 18vw;
    height: 18vw;
    transition: all;
    transition-duration: 5s;
}
.flechas:hover{
    transform: rotateZ(360deg);
}
.rojo{
    margin: auto;
    width: 0;
    height: 0;
    border-left: 1.2vw solid transparent;
    border-right: 1.2vw solid transparent;
    border-bottom: 9.2vw solid red;
}
.blanco{
    position: relative;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 1.2vw solid transparent;
    border-right: 1.2vw solid transparent;
    border-bottom: 9.3vw solid white;
    z-index: 1;
}