body{
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,255);
}
.contenedor{
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
    width: 20vw;
    margin-top: 20vw;
    margin-left: 45vw;
    height: 15rem;
}
.ene1{
    position: relative;
    background-color: #c20001;
    width: 3.2rem;
    height: 15rem;
    animation-name: e1;
    animation-duration: 9s;
    animation-delay: 1s;
}
@keyframes e1{
   0%{ margin-top: 20vw;}
   30%{ margin-top: 0vw;}
   

}
.ene2{
    position: relative;
    bottom: 4rem;
    background-color: #c20001;
    box-shadow: 0.1px 0.1px 1px black;
    width: 3.2rem;
    rotate: -30deg;
    left: 0vw;
    height: 20rem;
    overflow: hidden;
    animation-name: e2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 1s;
}
@keyframes e2{
    0%{
        height: 0rem;
    }
    30%{
        height: 0rem;
        left: -5vw;
    }
    60%{
        left: 0vw;
        height: 20rem;
    }
}
.ene3{
    position: relative;
    background-color: #c20001;
    left: 0.8vw;
    width: 3.2rem;
    height: 30rem;
    animation-duration: 5s;
    animation-name: e3;
}
@keyframes e3{
    0%{
        margin-top: 20rem;
        height: 0vw;
    }
    80%{
        margin-top: 20rem;
        height: 0vw;
    }
    100%{ 
        height: 20rem;
    }

    
}