*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(184, 40, 40);
}
.contenedor{
    width: 50vw;
    height: 10vw;
    margin: 9vw auto;
    display: grid;
    gap: 1vw;
}
.acordeon{
    background: white;
}
.acordeon label{
    display: block;
    padding: 1vw;
    font-size: 1.5rem;
    color:#2090ff;
    cursor: pointer;
    transition: all 300ms ease;
}
.acordeon .contenido{
    padding: 0vw;
    margin: 0vw 3vw;
    max-height: 0vw;
    overflow: hidden;
    transition: all 300ms ease;
}
.btn:checked ~ .contenido{
    max-height: 20vw;
    padding: 1vw 0vw;
    
}
.btn{
    display: none;
}
.contenido p{
    font-size: 1.5rem;
    text-align: left;
}
.u{
    display: flex;
    justify-content: space-around;
    margin-left: 45vw;
    margin-top: -2vw;
    font-size: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2090ff;
}
